<div id="<%= dom_id us30 %>">
  <p>
    <strong>Date:</strong>
    <%= us30.date %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= us30.timestamp %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= us30.open %>
  </p>

  <p>
    <strong>High:</strong>
    <%= us30.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= us30.low %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= us30.close %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= us30.volume %>
  </p>

</div>
