<p style="color: green"><%= notice %></p>

<%= render @us30 %>

<div>
  <%= link_to "Edit this us30", edit_us30_path(@us30) %> |
  <%= link_to "Back to us30s", us30s_path %>

  <%= button_to "Destroy this us30", @us30, method: :delete %>
</div>
