<div id="<%= dom_id btc %>">
  <p>
    <strong>Date:</strong>
    <%= btc.date %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= btc.timestamp %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= btc.open %>
  </p>

  <p>
    <strong>High:</strong>
    <%= btc.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= btc.low %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= btc.close %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= btc.volume %>
  </p>

</div>
