<div id="<%= dom_id xauusd %>">
  <p>
    <strong>Date:</strong>
    <%= xauusd.date %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= xauusd.timestamp %>
  </p>

  <p>
    <strong>Open:</strong>
    <%= xauusd.open %>
  </p>

  <p>
    <strong>High:</strong>
    <%= xauusd.high %>
  </p>

  <p>
    <strong>Low:</strong>
    <%= xauusd.low %>
  </p>

  <p>
    <strong>Close:</strong>
    <%= xauusd.close %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= xauusd.volume %>
  </p>

</div>
