<p style="color: green"><%= notice %></p>

<%= render @xauusd %>

<div>
  <%= link_to "Edit this xauusd", edit_xauusd_path(@xauusd) %> |
  <%= link_to "Back to xauusds", xauusds_path %>

  <%= button_to "Destroy this xauusd", @xauusd, method: :delete %>
</div>
